body{
  font-family: verdana;
  background-color: Thistle;
}
#button, #waffle, #machinee{
  border-radius: 6px;
  border: 2px solid Plum;
  background-color: Thistle !important;
  padding: 10px;
  transition-duration: 0.4s;
  font-family:verdana;
  font-size: 20px
}
#button:hover{
  background-color: Plum !important;
}
#waffle:hover{
  background-color: Plum !important;
}
#machinee:hover{
  background-color: Plum !important;
}
